@using Project_GuateFinanzas.Models;

@model Project_GuateFinanzas.Models.AccountMovement

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var State = false;
}

<h2>Create</h2>


@using (Html.BeginForm(new { type = ViewBag.MoveType }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AccountMovement:  @ViewBag.MoveType</h4>
        <hr />
        @Html.ValidationSummary(true)

        @if (ViewBag.MoveType == "Deposit" || ViewBag.MoveType == "Withdraw")
        { 
            <div class="form-group">
                @Html.LabelFor(model => model.IsChecked)
                <div class="col-md-3">    
                    @Html.CheckBoxFor(model => model.IsChecked, new { value = false, onclick = State ? State = false : State = true})
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.MovementDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MovementDate)
                @Html.ValidationMessageFor(model => model.MovementDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountID, "AccountID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AccountID", String.Empty)
                @Html.ValidationMessageFor(model => model.AccountID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Balance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Balance)
                @Html.ValidationMessageFor(model => model.Balance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        @if (ViewBag.MoveType == "Transfer")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.TargetAccountID, "AccountID", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AccountID", String.Empty)
                    @Html.ValidationMessageFor(model => model.TargetAccountID)
                </div>
            </div>
        }        

        @*<script>
            $("document").ready(function () {
                $("#UseCheck").click(function () {
                    $(this).attr("value", $(this).prop("checked") ? true : false);
                    alert($(this).attr("value"));
                });
            });
        </script>*@

        @if (State == true)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.CheckNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckNumber)
                    @Html.ValidationMessageFor(model => model.CheckNumber)
                </div>
            </div>
        }

        @if (@ViewBag.MoveType == "DebitCardWithdrawal")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.DebitCardNum, "DebitCards",  new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DebitCards", String.Empty)
                    @Html.ValidationMessageFor(model => model.DebitCardNum)
                </div>
            </div>            
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
